/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(28, 88%, 62%);
  --first-color-alt: hsl(28, 84%, 58%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --text-color-light: hsl(0, 0%, 65%);
  --black-color: hsl(0, 0%, 6%);
  --body-color: hsl(0, 0%, 6%);
  --container-color: hsl(0, 0%, 10%); 

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5rem;
    --bigger-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--bigger-font-size);
  font-family: var(--second-font);
  margin-bottom: 1.5rem;
  text-align: center;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav-logo {
  width: 10rem;
  padding: 10px;
  transition: color .4s;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  width: 20%;
}

.nav-menu {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav-list{
  /* margin-top: 500px; */
  display: flex;
  column-gap: 2.5rem;
  transition: color .4s;
}

.nav-toggle, .nav-close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav-toggle {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav-menu {
    position: fixed;
    background-color: hsla(0, 0%, 6%, .2);
    backdrop-filter: blur(16px);
    --webkit-backdrop-filter: blur(16px); /* For safari */
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    padding-block: 6rem 3rem 0;
    padding-inline: 2rem;
    transition: right .4s;
  }


.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav-link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  transition: color .4s;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-close, .nav-img-1, .nav-img-2 {
  position: absolute;
}

.nav-close {
  top: 1rem;
  right: 4rem;
}

.nav-img-1 {
  width: 80px;
  right: .75rem;
  top: 10rem;
  left: 11rem;
}

.nav-img-2 {
  width: 60px;
  left: 6rem;
  top: 28rem;
}

.nav-toggle {
  top: 1.5rem;
  right: 1.5rem;
}
  .nav-close{
  top: 1.5rem;
}
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Add blur header */
.blur-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 6%, .2);
  backdrop-filter: blur(16px);
  --webkit-backdrop-filter: blur(16px); /* For safari */
  z-index: -1;
}

/* Active link */


/*=============== HOME ===============*/
.home {
  position: relative;
  padding-top: 6.5rem;
}

.home__container {
  row-gap: 2rem;
}

.home__bg, .home__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* object-fit: cover; */
}

.home__bg {
  object-fit: cover;
  object-position: center;
}

.home__shadow {
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 6%) 100%);
}

.home__data {
  position: relative;
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--second-font);
  margin-bottom: 1.5rem;
}

.home__bread {
  width: 50px;
  position: absolute;
  top: 15rem;
  left: 4rem;
}

.home__img {
  max-width: 400px;
  justify-self: center;
  rotate: 15deg;
}

.home__footer, .home__location, .home__social {
  display: flex;
}

.home__footer {
  justify-content:  space-between;
  align-items: center; 
}

.home__location {
  align-items: center;
  column-gap: .5rem;
}

.home__location i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__location span {
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.home__social {
  column-gap: 1rem;
}

.home__social a {
  color: var(--title-color);
  font-size: 1.5rem;
  transition: color .4s;
}

.home__social a:hover {
  color: var(--first-color);
}

/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--black-color);
  padding: 1.125rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .4s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/*=============== PRODUCTS ===============*/
.new__container{
  padding-top: 1.5rem;
  row-gap: 3.5rem;
}

.new__content{
  row-gap: 2rem;
}

.new__card{
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.new__img{
  width: 200px;
}

.new__title{ 
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  color: var(--first-color);
  margin-bottom: .5rem;
}

.new__descr{
  font-size: var(--small-font-size);
}

.new__card:nth-child(2) img{
  order: -1;
}

.new__button{
  justify-self: center;
  margin-top: 1.5rem;
  
/*=============== ABOUT ===============*/
.about__container{
  padding-top: 1.5rem;
  row-gap: 4rem;
  padding-left: 1.5rem;
}

.about__img{
  position: relative;
  text-align: center;
}

.about__description{
  margin-bottom: 3rem;
}

  .about__bread {
  width: 100px;
  position: absolute;
  bottom: 1rem;
  top: 120rem;
  right: 0;
}

.about__img {
  width: 600px;
  justify-self: center;
}

/*=============== CONTACT ===============*/
.contact__container{
  padding-top: 1rem;
  row-gap: 4rem;
  padding-left: 1.5rem;
}

.contact__form{
  text-align: center;
  background: rgba( 239, 245, 232, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(204, 205, 221, 0.37);
  backdrop-filter: blur( 4px );
  --webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  padding: 1.5rem;
}

.contact__title{
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  color: var(--first-color);
  margin-bottom: 1.5rem;
}

.contact__input{
  width: 100%;
  padding: .8rem;
  outline: none;
  border: none;
  background: rgba(239, 245, 232, 0.068);
  box-shadow: 0 8px 32px 0 rgba(204, 205, 221, 0.296);
  backdrop-filter: blur( 4px );
  --webkit-backdrop-filter: blur( 4px );
  margin-bottom: 1rem;
  border-radius: .5rem;
}

.contact__label{
  display: block;
  margin-bottom: .5rem;
  font-size: var(--medium-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font);
}

.contact__button{
  border-radius: 10px;
}

.contact__info{
  margin-top: 1.5rem;
  text-align: center;
}

.contact__card{
  margin: 1rem;
}

.contact__img{
  width: 700px;
  justify-self: center;
}

/*=============== VISIT ===============*/
.visit__container{
  position: relative;
  padding-block: 3rem;
}

.visit-bg, .visit-shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.visit-bg{
  object-fit: cover;
  object-position: center;
}

.visit-shadow{
  background-color: linear-gradient(180deg, 
    hsl(0, 0%, 6%) 0%, 
    hsla(0, 0%, 4%, .1) 50%
    hsl(0, 0%, 6%)100%);
}

.visit__data{
  text-align: center;
}

.visit__description{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: 3rem;
  font-family: var(--font-semi-bold);
  padding-left: 1.5rem;
}

/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
